<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>337721004343-dmquqa4ipqfvgftos43jsoclrh4nc35j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.337721004343-dmquqa4ipqfvgftos43jsoclrh4nc35j</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>337721004343-aps92i8qn0d00b9qr811v4mljml9u6h3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAzZYPDC39d98W9i2rJxbDBZKF6ZxUjPZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>337721004343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.orbitalmilestone1testvivien</string>
	<key>PROJECT_ID</key>
	<string>vmvm-orbital</string>
	<key>STORAGE_BUCKET</key>
	<string>vmvm-orbital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:337721004343:ios:6a07c32f0786f112a08ab2</string>
</dict>
</plist>