[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
pytest = "*"
pytest-mock = "*"
pytz = "*"
pandas = "*"
factory-boy = "*"
sqlalchemy = "*"
firebase-admin = "*"

[dev-packages]

[requires]
python_version = "3.10"
